body {
    height: 100%;
}
header {
    margin-top: 40px;
}
nav ul li {
    display: inline;
    width: auto;
    height: 60px;
    background-color: #c7c7c7;
    padding: 10px;
    border-radius: 5px;
}
nav ul li a {
    text-decoration: none;
}
main {
    margin: 0 5%; 0 5%;
}
header h2, main h3, footer h3 {
    text-align: center;
}
footer {
    height: 80px;
    margin-top: 100%;
}